.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

a:hover {
  color: rgb(222, 221, 221);
}

.list__card {
  margin: 10px;
  padding: 10px;
  flex: 20%;
  box-shadow: 1px 1px 1px 1px black;
}

.list__card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card__badge__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__badge {
  height: 28px;
  width: 80px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.detail__container {
  margin: auto;
  width: 800px;
  height: 80vh;
}

.detail__card {
  margin: 25px 0;
  padding: 25px 0;
  box-shadow: 1px 1px 1px 1px black;
}

.login__container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
}
